* {
    padding: 0;
    margin: 0;
    
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth
}

:root {
	--azulPrincipal: blue;
	--navbar-height: 100px;
	--navbar-min-height: 60px;
	--logo-height: 90px;
    --logo-height-section: 20rem;
	--logo-min-height: 60px;
	--nombre-font-size: 2.5rem;
	--nombre-min-font-size: 1.5rem;
}



/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////LOGO///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

.LogoNombre {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	gap: 1rem;
	height: var(--logo-height);
	transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
}
.logo {
	height: var(--logo-height);
	transition: height 0.4s ease ;
	animation:pulso 0.5s ease ;
}
.Nombres {
	flex-direction: column;
    color: transparent;
}
.Nombre {
	margin: 0;
	line-height: 1;
	font-size: var(--nombre-font-size);
	transition: font-size 0.4s ease;
}
.soluciones { 
	letter-spacing: 4px;
}
.tecnologicas {
	letter-spacing: 1px;
}
@keyframes pulso {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	80% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////BARRA NAVEGACION///////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

header  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: height 0.1s ease, box-shadow 0.1s ease;
}
.navbar {  
    transition: height 0.1s ease, box-shadow 0.1s ease;

}
#navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
	padding-top: 1rem;
	padding-bottom: 1rem;
	top: 0;
	z-index: 1000;
	transition: height 0.1s ease, box-shadow 0.1s ease;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));

}
.navbar-toggler {
    margin-right: 1rem;
}
.collapse {
	justify-content: end;
	margin-right: 2rem;
}
.nav-link {
	color: white;
}
header.scrolled #navBar {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255));
}
header.scrolled .nav-link {
    color: var(--azulPrincipal);
}
header.scrolled .LogoNombre {
	height: var(--logo-min-height);
}
header.scrolled .logo {
	height: var(--logo-min-height);
}
header.scrolled .Nombre {
	font-size: var(--nombre-min-font-size);
	letter-spacing: 0px;
    color: var(--azulPrincipal);
    display: flex;
}
header.scrolled .soluciones { 
	letter-spacing: 3px;
    display: none;
}
header.scrolled .tecnologicas {
	letter-spacing: 1px;
    display: none;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////HERO.VIDEO/////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

#hero {
    position: relative;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    top: 0;
}
#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/*//////////////////////////////////////////////////////////////////////////*/
/*//////////////////////SECCIONES///////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

section {
    width: 100%;

}
#services{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40rem;
    position: relative;

    background: linear-gradient(to bottom, rgba(53, 84, 185, 0.4) 0%, #032db666 100%), url(../imgs/fondo-webs.png);
    animation: scroll-adjust linear;
	animation-timeline: view(y);
    background-size: cover;
    background-position: initial;
    font-family: sans-serif;
}
@keyframes scroll-adjust {
    0% {
		background-position:100% 0;
	}
    50% {
        background-position: 50% 80%;
    }
	100% {
		background-position: 10 50%;
	}
}
#shape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    padding-top: 10rem;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 0% 0% 100% 100% / 0% 50% 100% 100%;
    transform: rotate(180deg);
}
#circle{  
    background: linear-gradient(to bottom, #1ca80966 1000%, #e0199466 100%);
    position: relative;

    transform: rotate(180deg);
    width: 454px;
    height: 454px;
    border: 4px solid var(--azulPrincipal); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 5rem;
}
.icono {
    position: absolute; 
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulPrincipal); 
    border-radius: 50%;
    color: white;
    border-color: white;
    border: 5px;
    border-style: solid;
    font-size: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: matrix(1, 0, 0, 1, -42.5, -42.5);
    z-index: 9;
    overflow-x: hidden;
    overflow-y: hidden;
}

.icono:hover {
    background-color: rgb(13, 13, 104);
}

/* Posicionamiento de iconos*/
.icono-1 { top: 0px; left: 221px; }
.icono-2 { top: 110.5px; left: 411.047px; }
.icono-3 { top: 331.5px; left: 411.047px; }
.icono-4 { top: 442px; left: 221px; }
.icono-5 { top: 331.5px; left: 30.9375px; }
.icono-6 { top: 110.5px; left: 30.9375px; }

/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////NOSOTROS///////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

#nosotros {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    font-family: sans-serif;
    gap: 2rem;
}
.logo-nosotros{
    height: var(--logo-height-section);
}
#nosotros-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: #333;
}
#code-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: gray;
    font-size: 2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////FOOTER//////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

footer {
    width: 100%;
    background-color: rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: wheat;
    padding-bottom: 2rem;
}
#Logo {
    height: 120px;
    align-self: center;
}
.logo-nombre{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 20rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
#information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin: 0;
;
}
#redes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}
.red {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rgb(20, 75, 156);
    border-radius: 100%;
}
#derechos {
    width: 100%;
    display: flex;
    justify-content: center;
}



/*Animacion Aparicion*/
.aparecer {
    opacity: 1;
    transform: translateY(0);
}
.desaparecer {
    opacity: 0;
    transform: translateY(20px);
}       
.transition {
    transition: all 0.6s ease-out;
}






/*/////////////////////////////////////////////////////////////////////////*/
/*//////////////////////MEDIA RES//////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/


@media (min-width: 992px) {
    footer {
        height: 100%;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:flex-start;
        max-width: 1500px;
        width: 100%;
        padding: 2rem 5rem;
        color: wheat;
    }
    .info .logo-nombre {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        pointer-events: none;
    }
    #redes {
        grid-area: "redes";
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}